/*
Author:Vijayan PP
Template:Yomer- Coming Soon Website
*/

/*Basic Styles*/

html, body {
    height: 100%;
}

body {
    background: white;
    color: #222;
    font-weight: 200;
    font: 13px/1.5 Lato, "Century Gothic", "Trebuchet MS", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;

}

a {
    color: #89d460;
    text-decoration: none;
    transition: all 0.125 ease-in-out 0s;
    -webkit-transition: all 0.125s ease-in-out 0s;
    -moz-transition: all 0.125s ease-in-out 0s;
    -ms-transition: all 0.125s ease-in-out 0s;
    -o-transition: all 0.125s ease-in-out 0s;
}

ul, ol {
    margin: 1em 0 2em 0;
    padding: 0 0 0 20px;
}

a:hover {
    color: #89d460;
}

a {
    text-decoration: none;
    color: #f77c03;
}

a:hover {
    color: #ccc;

}

.nav > .menu > .btMenu {
    display: none;
}

a, a:hover, a:focus, a:active {
    border: 0;
    outline: 0;
    text-decoration: none;
}

.yomer-float-right {
    float: right;
}

.yomer-float-left {
    float: left;
}

.yomer-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.yomer-hide {
    display: none !important;
    visibility: hidden !important;
}

.yomer-show {
    display: block !important;
}

.yomer-preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
/ / background: #fff url('../img/preloader.gif') no-repeat center center;
}

/*Typography*/
.yomer-text-center {
    text-align: center;
}

.yomer-text-uppercase {
    text-transform: uppercase;
}

.yomer-text-right {
    text-align: right;
}

.yomer-text-left {
    text-align: left;
}

.yomer-text-justify {
    text-align: justify;
}

h2 {
    margin: .25em 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 300;
    color: #2b2b2b;
    cursor: default;
}

/*navigation..........................*/
body > .nav {
    width: 100%;
    margin: 0;
    float: left;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 999;
    background: #000;
}

body > .nav > .menu {
    list-style: none;
    margin: 0 80px 0 0;
    padding: 0;
    float: right;
}

body > .nav > .menu > li {
    display: inline-block;
    float: left;
}

body > .nav > .menu > li > a {
    padding: 18px 16px;
    color: #ccc;
    float: left;
    font-size: 12px;
    text-decoration: none;
}

body > .nav > .menu > li > a:hover {
    background: darkgoldenrod;
    color: white;
}

body > .nav > .menu > .btMenu {
    display: none;
}

.wrapper {
    width: 100%;
    height: auto;
    position: relative;
    box-sizing: border-box;

}

/*Header*/

header {
    width: 100%;
    margin-top: 54px;
    position: relative;
    z-index: 0;
    background: url('../img/Logotest2.png') no-repeat;
    background-size:60%;
    background-position-x: 50%;
    background-position-y: 40%;
    background-color: #000 !important;
    min-height: 500px;

}

header > .container {
    height: 100%;
    position: relative;
    top: 100px;
    text-align: center;
    z-index: 1;
}

.logo {
    position: absolute;
    top: 10px;
    left: 5%;
    display: block;
    width: 152px;
    height: 36px;
    line-height: 36px;
    pyomering: 0px;
    text-indent: -9999em;
    outline: none;
    overflow: hidden;
    z-index: 3;
    opacity: 1;
    background: url('../img/poop.png') no-repeat;
}

.menu_header {
    position: absolute;
    top: 34px;
    right: 5%;
    display: inline;
    z-index: 2;
}

.menu_header a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 20px;
    outline: none;
    font-weight: 400;
    color: darkred;
    float: left;
    opacity: 1;
}

.menu_header b {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 20px;
    outline: none;
    font-weight: 400;
    color: darkred;
    float: left;
    opacity: 1;
}

.at-showmenu .at-showmenu-link {
    display: inline-block;
    padding-right: 8px;
    float: left;
}

.titles {

    color: #fff;
    min-height: 150px;
    height: auto;
}

.titles h1 {
    position: relative;

    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    font-size: 5em;
    font-weight: 100;
    color: #fff;
    cursor: default;
}

.subhead {
    position: relative;
}

.subhead p {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    font-size: 18px;
    font-weight: 100;
    color: #eee;
    cursor: default;
}

.buttons {
    padding-top: 100px;

    width: 100%;
    min-height: 41px;
}

.buttons form {

    margin: 0;
    padding: 0;
}

.buttons button {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    border-radius: 3px;
    margin: 0 5px;
    cursor: pointer;
}

.form-submit {

    width: 200px;
    height: 41px;
    line-height: 51px;
    outline: none;
    background-repeat: no-repeat;
    background-position: 0 0;
    border: none;
    background-size: 200px 41px;
}

.buttons button:hover {
    -webkit-transform: translate3d(0, -8px, 0);
    -moz-transform: translate3d(0, -8px, 0);
    -ms-transform: translate3d(0, -8px, 0);
    -o-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
}

.paddingtop {
    padding-top: 50px;
}

.form-submit.googleplus {
    background-image: url('../img/btn-googleplus.png');
}

.form-submit.facebook {
    background-image: url('../img/btn-facebook.png');
}

.form-submit.email {
    background-image: url('../img/btn-email.png');
}

.logos {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 80px;

}

.row {
    align-content: center;
    padding-bottom: 20px;
}

.row1 {
    align-content: center;
    padding-bottom: 100px;
}

.row2 {
    align-content: left;
    padding-bottom: 200px;
}

.row3 {
    padding-bottom: 200px;
    background-color: white;
    background-size: cover;
    width: 100%

}

.redtext {
    color: darkred;
}

.whitetext {
    color: grey;
}

.goldtext {
    color: darkgoldenrod;
}

.logos img {
    width: 100%;
}

.godown {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    background: url('../img/header-downarrow.png') no-repeat center;
    background-size: 50px 27px;
    height: 64px;
    line-height: 64px;
    text-indent: -9999em;
    overflow: hidden;
    opacity: .5;
    z-index: 1;
    -webkit-transition: opacity .5s linear;
    -moz-transition: opacity .5s linear;
    transition: opacity .5s linear;
    -webkit-transition: bounce 1s ease-in-out;
    -moz-transition: bounce 1s ease-in-out;
    transition: bounce 1s ease-in-out;
    animation-play-state: paused;
}

.animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

/*..................................................ABOUT US...................*/
.aboutus {
    width: 100%;
    background-color: white;
    position: relative;
    overflow: hidden;

}

.aboutus > input {
    color: black;
}

.aboutus > .container1 {
    padding-top: 100px;
    padding-bottom: 150px;
    padding-left: 5%;
    padding-right: 15%;
}

.bigtext {
    font-weight: 100;
    font-size: 1.5em;
    line-height: 1.5em;
    color: black;
    margin-bottom: 20px;
}

.bigtextbold {
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.5em;
    color: dimgrey;
    margin-bottom: 20px;
}

.biggertext {
    font-weight: 100;
    font-size: large;
    line-height: 1.5em;
    color: dimgrey;
    margin-bottom: 20px;
}

.aboutus > .container {
    padding-top: 25px;
    padding-bottom: 50px;
}

.aboutus > .containerMarg {
    padding-top: 100px;
    padding-bottom: 150px;
    padding-left: 15%;
    padding-right: 15%;
}

/*ul {*/
/*list-style-type: none;*/
/*margin: 0;*/
/*padding: 0;*/
/*overflow: hidden;*/

/*}*/

/*li {*/
/*float: left;*/
/*}*/

/*li a {*/
/*display: block;*/
/*color: black;*/
/*text-align: center;*/
/*padding: 0px 106px;*/
/*padding-bottom: 20px;*/
/*text-decoration: none;*/
/*font-size: large;*/
/*}*/

/*!* Change the link color to #111 (black) on hover *!*/
/*li a:hover {*/
/*background-color: #111;*/
/*}*/

.aboutus > .container2 {
    padding-top: 80px;
    padding-bottom: 20px;
    padding-left: 15%;
    padding-right: 15%;
}

/* Dropdown Button */
.dropbtn {
    background-color: black;
    color: white;
    padding: 18px 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    font: 13px/1.5 sans-serif;
    text-decoration: none;
    /**/
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: darkgoldenrod;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;

}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 8px 10px;
    font: 13px/1.5 sans-serif;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: lightgrey
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.bigtext1 {
    font-weight: 100;
    font-size: 1.5em;
    line-height: 1.5em;
    color: ghostwhite;
    margin-bottom: 50px;
}

.icon-widget {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto 30px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 120px;
    overflow: hidden;
    text-indent: -9999em;
    line-height: 200px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

small {
    color: white;
}

.icon-widget.icon-share {
    background-image: url('../img/icon-share_2x.png');
}

.icon-widget.icon-share1 {
    background-image: url('../img/2847817.jpg');
}

.icon-widget.random {
    background-image: url('../img/mimc.jpg');
}

.icon-widget.tracker {
    background-image: url('../img/goblin_attack.jpg');
}

.icon-widget.monster {
    background-image: url('../img/spectator.jpg');
}

.icon-widget.comp {
    background-image: url('../img/Brockhaus_Lexikon.jpg');
}

.icon-widget.near {
    background-image: url('../img/near you.png');
}

.icon-widget.convert {
    background-image: url('../img/3.5.png');
}

.icon-widget.spells {
    background-image: url('../img/spells.jpg');
}

.icon-widget.classes {
    background-image: url('../img/classes.png');
}

.icon-widget.races {
    background-image: url('../img/Race-Orc(Small).jpg');
}

.icon-widget.exclame {
    background-image: url('../img/exclam.jpg');
}

.icon-widget.blog {
    background-image: url('../img/journal.png');
}

.icon-widget.icon-follow {
    background-image: url('../img/icon-follow_2x.png');
}

.icon-widget.icon-market {
    background-image: url('../img/icon-marketing_2x.png');
}

.icon-widget.icon-recommend {
    background-image: url('../img/icon-recommended_2x.png');
}

.icon-widget.icon-shelf {
    background-image: url('../img/bookshelf.jpg');
}

.icon-widget.icon-egg {
    background-image: url('../img/Boulder-opal.jpg');
}

.icon-widget.icon-runthrough {
    background-image: url('../img/04_analytics_2x.png');
}

.icon-widget.icon-classics {
    background-image: url('../img/PlayersHandbook8Cover.jpg');
}

.icon-widget.icon-homebrew {
    background-image: url('../img/homebrew.jpg');
}




.icon-widget:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}

/*..................................................OUR MISSION...................*/
.ourmission {
    width: 100%;
    position: relative;
    overflow: auto;
    background: url('../img/bg-testmonial-01.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fff;
}

.ourmission2 {
    width: 100%;
    position: relative;
    overflow: auto;
    background: url('../img/bg-testmonial-03.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fff;
}

.ourmission > .container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.ourmission h3 {
    color: #fff;
}

.ourmission2 > .container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.ourmission2 h3 {
    color: #fff;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
    color: darkgoldenrod;
}

/* Position and style the close button (top right corner) */
.closebtn {
    position: absolute;
    top: 30px;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/*..................................................FEATURES...................*/
.feature {
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #fff;
}

.feature > .container {
    padding-top: 25px;
    /*padding-bottom:25px;*/
}

.feature h3 {
    color: #fff;
}

.nav-tabs {
    border-bottom-color: #ccc;

    font-size: 16px;
}

.nav-tabs > li > a {
    position: relative;
    border-color: #f2f2f2 #f2f2f2 #e0e0e0;
    border: none;
    text-align: center;
    text-transform: uppercase;

    letter-spacing: 1px;
    font-weight: 600;
    font-size: 14px;
    color: darkred;
}

.feature img {
    width: 300px;
    height: 300px;
}

.tab-content {
    min-height: 420px;
    padding: 50px 0;
}

/*..................................................WHYCHOSE...................*/
.whychose {
    width: 100%;
    position: fixed;
    background: url('../img/classesbg.jpg') no-repeat;
    background-attachment: local;
    background-size: cover;
    background-color: #fff;

}

.whychose > .container {
    padding-top: 100px;
    padding-bottom: 180px;
    float: left;
    margin-left: 20px;
}

.whychose h3 {
    color: #fff;
}

.whychose1 {
    width: 100%;
    position: relative;
    overflow: auto;
    background: url('../img/bg-testmonial-03.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fff;

}

.whychose1 > .container {
    padding-top: 80px;
    padding-bottom: 180px;

}

.whychose1 h3 {
    color: #fff;
}

.whychose2 {
    width: 100%;
    position: relative;
    overflow: auto;
    background: url('../img/treasurepile.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fff;

}

.whychose2 > .container {
    padding-top: 80px;
    float: left;
    margin-left: 20px;
    padding-bottom: 151px;

}

.whychose2 h3 {
    color: #fff;
}

.whychose3 {
    width: 100%;
    position: relative;
    overflow: auto;
    background: url('../img/classesbg.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fff;

}

.whychose3 > .container {
    padding-top: 80px;
    float: left;
    margin-left: 20px;
    padding-bottom: 151px;

}

.whychose3 h3 {
    color: #fff;
}

/*----------------------------------------------SOCIAL-------------------------*/

.social {
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #000;
    border-top: 1px dashed #eee;
}

.social > .container {
    padding-top: 50px;
    padding-bottom: 10px;
}

.social_icons ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.social_icons li {
    display: inline-block;
    list-style-type: none;
    padding-left: 30px;
}

.social_icons a {
    display: block;
    width: 35px;
    height: 35px;
    margin: 0;
    font-size: 18px;
    line-height: 35px !important;
    text-decoration: none;
    text-align: center;
    color: #919191 !important;
    background: #fff;
    border-radius: 4px;
}

.social_icons a:hover i {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color: #f77c03;
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -webkit-transition: 0.4s ease-in-out;
}

/*..................................................FOOTER...................*/
.testimonial {
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #000;
}

.testimonial > .container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.testimonial h3 {
    color: #fff;
}

@media (max-width: 900px) {

    .logo {
        display: none;
    }

    body > .nav > .menu {
        width: 100%;
        margin: 0;
    }

    body > .nav > .menu > li {
        width: 100%;
        display: none;
        text-align: center;
    }

    body > .nav > .menu > li > a {
        padding: 8px 20px;
        width: 100%;
    }

    body > .nav > .menu > .btMenu {
        display: inline-block;
        padding: 12px 16px;
    }
}

/**********************************Threads************************************/

.textbox {
    height: 100px;
    border: 1px solid black;
    box-sizing: border-box;
}

.firstbox {
    height: 100px;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: lightgoldenrodyellow;
}

.replybox {
    height: 100px;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: floralwhite;
}

.newreplybox {
    height: 100px;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: lightcyan;
}