
a.radio-fx span, a.radio-fx {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
}
#skin_1 .radio, #skin_1 .radio-checked, #skin_1 a.radio-fx {
    width: 32px;
    height: 32px;
}
#skin_1 .radio {
    background-color: dodgerblue;
}
#skin_1 .radio-checked {
    background: url("../img/New Piskel.png") no-repeat;
}
